<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="light-box">
    <h1>Cadastrar Dispositivo</h1>
    <ion-item>
      <ion-label position="floating">Identificador</ion-label>
      <ion-input [formControl]="id"  type="text" clearInput></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="idCheck">
      <ion-badge [color]="idCheck.color" mode="ios">{{idCheck.message}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input [formControl]="description"  type="text" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bucket</ion-label>
      <ion-input [formControl]="bucket"  type="text" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Localização dos recursos</ion-label>
      <ion-input [formControl]="location"  type="text" clearInput></ion-input>
    </ion-item>
    <ion-button style="margin-top: 16px;" (click)="save()" [disabled]="disabled" expand="block" shape="round">
      Cadastrar
    </ion-button>
  </div>
</ion-content>
