<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dado Compartilhado</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="d-flex-beetwen">
      <h1 style="font-size: 1.1rem; font-weight: bold;">{{device?.cleanId}}</h1>
      <ion-buttons slot="end">
        <ion-button (click)="delete()" color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          <span class="large-only">Excluir</span>
        </ion-button>
        <ion-button (click)="history()" color="tertiary">
          <ion-icon slot="start" name="time"></ion-icon>
          <span class="large-only">
            Histórico
          </span>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <small style="color: #c3c3c3;">Última modificação: {{device?.updated | date : 'dd/MM/yyyy HH:mm' }}</small>
    </div>
    <p>{{device?.sharedDataDescription}}</p>
    <div class="d-flex-beetwen">
      <p>
        <strong>Bucket:</strong>
        {{device?.bucket}}
      </p>
      <p>
        <strong>Localização:</strong>
        {{device?.resourceLocation}}
      </p>
    </div>
    <div class="d-flex-beetwen" style="min-height: 70px;">
      <p [class.invisible]="!device?.sharedWithArr?.length" style="font-size: 0.9rem; color: gray; align-self: flex-end;">Compartilhado:</p>
      <ion-fab-button color="success" (click)="grant()">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
    </div>
    <ion-list>
      <p *ngIf="!device?.sharedWithArr?.length" style="color: gray; text-align: center;">Lista Vazia <br> <small>Clique acima para adicionar</small></p>
      <ion-item *ngFor="let user of device?.sharedWithArr">
        <ion-label>{{user}}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="revoke(user)" color="danger">
            <ion-icon slot="icon-only" name="person-remove-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
