<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dado Compartilhado</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="d-flex-beetwen">
    <h1>Dispositivo XPTO</h1>
    <ion-buttons slot="end">
      <ion-button (click)="delete()" color="danger">
        <ion-icon slot="start" name="trash"></ion-icon>
        Excluir
      </ion-button>
      <ion-button (click)="history()" color="tertiary">
        <ion-icon slot="start" name="time"></ion-icon>
        Histórico
      </ion-button>
    </ion-buttons>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, ratione cupiditate? Sapiente repellendus, alias ipsam ea obcaecati assumenda, quidem libero ipsum ratione deserunt, laboriosam perferendis. Velit magnam veniam quisquam accusamus!</p>
  <div class="d-flex-beetwen">
    <p>Compartilhado com:</p>
    <ion-button (click)="grant()" fill="clear" shape="round" color="success">
      Adicionar novo acesso
    </ion-button>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>Bar</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="revoke()" color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Revogar acesso
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
