<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text color="medium">
    <p style="font-size: 1.1rem; margin-bottom: 0;">
      Histórico do dispositivo {{id}}
    </p>
  </ion-text>
  <div class="container">
    <div class="timeline" *ngFor="let step of history">
      <div class="timeline-left">
        <div class="timeline-icon">
          <ion-icon slot="start" name="time-outline" color="light"></ion-icon>
        </div>
      </div>
      <div class="timeline-content">
        <p class="title">{{step.mode}}</p>
        <p class="update-time">às {{step.updated | date : 'dd/MM/yyyy hh:mm'}}

          <ion-chip size="small" [color]="getStatusColor(step.permission)" mode="ios" outline="true">
            <ion-label>{{getStatus(step.permission)}}</ion-label>
          </ion-chip>
        </p>
        <p class="description">Autor: {{step.requester}} <small *ngIf="isOwner(step)">(Proprietário)</small></p>
        <p class="description">identificador: {{step?.cleanId}}</p>
        <p class="description">Descrição: {{step.sharedDataDescription}}</p>
        <div *ngIf="step?.sharedWithArr?.length">
          <p class="description" style="margin-bottom: 0;">Autorizados:</p>
          <ion-badge color="medium" mode="ios" *ngFor="let item of step.sharedWithArr">
            {{item}}
          </ion-badge>
        </div>
      </div>
    </div>
  </div>
</ion-content>
