<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Historico</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="timeline">
      <div class="timeline-left">
        <div class="timeline-icon">
          <ion-icon slot="start" name="time-outline" color="light"></ion-icon>
        </div>
      </div>
      <div class="timeline-content">
        <p class="title">Title</p>
        <p class="update-time">Garantir acesso, 15/06/2021 às 13:30 </p>
        <p class="shared-with">Autorizados: <strong>foo, bar e xpto</strong></p>
        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, quam inventore neque aliquam pariatur numquam vel explicabo eveniet adipisci blanditiis, ducimus autem minima voluptatibus laborum tenetur molestiae quaerat quos doloremque.</p>
      </div>
    </div>

    <div class="timeline">
      <div class="timeline-left">
        <div class="timeline-icon">
          <ion-icon slot="start" name="time-outline" color="light"></ion-icon>
        </div>
      </div>
      <div class="timeline-content">
        <p class="title">Title</p>
        <p class="update-time">Garantir acesso, 15/06/2021 às 13:30 </p>
        <p class="shared-with">Autorizados: <strong>foo, bar e xpto</strong></p>
        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, quam inventore neque aliquam pariatur numquam vel explicabo eveniet adipisci blanditiis, ducimus autem minima voluptatibus laborum tenetur molestiae quaerat quos doloremque.</p>
      </div>
    </div>

    <div class="timeline">
      <div class="timeline-left">
        <div class="timeline-icon">
          <ion-icon slot="start" name="time-outline" color="light"></ion-icon>
        </div>
      </div>
      <div class="timeline-content">
        <p class="title">Title</p>
        <p class="update-time">Garantir acesso, 15/06/2021 às 13:30 </p>
        <p class="shared-with">Autorizados: <strong>foo, bar e xpto</strong></p>
        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, quam inventore neque aliquam pariatur numquam vel explicabo eveniet adipisci blanditiis, ducimus autem minima voluptatibus laborum tenetur molestiae quaerat quos doloremque.</p>
      </div>
    </div>
  </div>
</ion-content>
