<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Compartilhados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-list>
      <ion-item button (click)="requestPermission()">
        <ion-avatar >
          <div class="rounded-center">
            <ion-icon name="folder-outline"></ion-icon>
          </div>
        </ion-avatar>
        <ion-label>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
          <br>
          <span>
            Compartilhado por: Jonatan (j@gmail.com)
          </span>
          <br>
          <small style="color: #c3c3c3;">Última modificação: 10/12/2021</small>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
